@import "../../assets/styles/variables";
@import "../../assets/styles/flex";

.activity {
    background-color: $white;
    padding-top: $gutter;
    margin: 0 auto;
    width: 65%;
    box-shadow: $box-shadow-large;
    border-radius: $border-radius-small;
}

.empty-state {
    @include flex(column, center, center);
    gap: $gutter;
    padding: $gutter;
    border-top: 1px solid $stroke;
    margin-top: $gutter;

    .icon {
        font-size: $font-size-sm;
        border-radius: $border-radius-rounded;
        background-color: $blueSubtle;
        padding: $gutter2x;
    }
}

.title {
    font-size: $font-size-l;
    margin-bottom: $gutter;
    padding: $gutter;
}